@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700");
/* line 1, ../sass/_reset.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 7, ../sass/_reset.scss */
html, body {
  width: 100%;
  height: 100%;
  font-family: "Montserrat", "sans-serif";
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 10pt;
  color: #404040;
}

/* line 17, ../sass/_reset.scss */
p {
  font-size: 1em;
}

/* line 21, ../sass/_reset.scss */
h1 {
  font-size: 3em;
}

/* line 25, ../sass/_reset.scss */
h2 {
  font-size: 2em;
}

/* line 28, ../sass/_reset.scss */
h3 {
  font-size: 1.7em;
  line-height: 1.5em;
}

/* line 33, ../sass/_reset.scss */
a {
  text-decoration: none;
  cursor: pointer;
}

/* line 1, ../sass/_header.scss */
#header {
  width: 100%;
  height: 18vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
/* line 7, ../sass/_header.scss */
#header .block30, #header .block40 {
  display: flex;
  align-items: center;
}
/* line 11, ../sass/_header.scss */
#header .block30 {
  width: 30%;
}
/* line 14, ../sass/_header.scss */
#header .block40 {
  width: 40%;
  justify-content: center;
}
/* line 18, ../sass/_header.scss */
#header .block-left {
  padding-left: 40px;
}
/* line 21, ../sass/_header.scss */
#header .block-right {
  justify-content: flex-end;
  padding-right: 40px;
}
/* line 24, ../sass/_header.scss */
#header .block-right * {
  margin-left: 40px;
}
@media only screen and (max-width: 720px) {
  /* line 1, ../sass/_header.scss */
  #header {
    display: none;
  }
}

/* line 32, ../sass/_header.scss */
#header-mobile {
  width: 100%;
  height: 18vh;
  padding: 0 20px;
  display: none;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 720px) {
  /* line 32, ../sass/_header.scss */
  #header-mobile {
    display: flex;
  }
}
/* line 42, ../sass/_header.scss */
#header-mobile .mobile-block-right {
  width: 10vh;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
/* line 50, ../sass/_header.scss */
#header-mobile .mobile-block-right .hamburger .span {
  width: 50px;
  height: 4px;
  background-color: #404040;
  position: relative;
}
/* line 55, ../sass/_header.scss */
#header-mobile .mobile-block-right .hamburger .span::before, #header-mobile .mobile-block-right .hamburger .span::after {
  width: 50px;
  height: 4px;
  content: "";
  position: absolute;
  background-color: #404040;
}
/* line 62, ../sass/_header.scss */
#header-mobile .mobile-block-right .hamburger .span::before {
  bottom: 14px;
}
/* line 65, ../sass/_header.scss */
#header-mobile .mobile-block-right .hamburger .span::after {
  bottom: -14px;
}

/* line 73, ../sass/_header.scss */
.logo img {
  width: 100px;
  height: auto;
}

/* line 80, ../sass/_header.scss */
.navlink {
  text-decoration: none;
  color: #404040;
  position: relative;
  cursor: pointer;
}
/* line 85, ../sass/_header.scss */
.navlink::after {
  content: "";
  width: 0px;
  height: 1px;
  background-color: #404040;
  position: absolute;
  left: 50%;
  top: 30px;
  transform: translateX(-50%);
  transition: all .2s ease-in-out;
}
/* line 97, ../sass/_header.scss */
.navlink:hover::after {
  width: 12px;
}

/* line 104, ../sass/_header.scss */
.no-after:hover::after {
  width: 0px;
}

/* line 110, ../sass/_header.scss */
.active {
  font-weight: 700;
}

/* line 1, ../sass/_home.scss */
#intro {
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* line 9, ../sass/_home.scss */
#home-galery {
  width: 90vw;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
}
/* line 16, ../sass/_home.scss */
#home-galery img {
  width: calc(30vw - 8px);
  max-height: calc(15.4vw - 8px);
  margin: 4px 0 4px 0;
}
@media only screen and (max-width: 1024px) {
  /* line 22, ../sass/_home.scss */
  #home-galery img {
    width: calc(45vw - 4px);
    max-height: calc(23vw - 8px);
    margin: 4px 0 4px 0;
  }
}
@media only screen and (max-width: 480px) {
  /* line 29, ../sass/_home.scss */
  #home-galery img {
    width: calc(90vw - 8px);
    max-height: calc(46.15vw - 8px);
    margin: 4px 0 4px 0;
  }
}

/* line 1, ../sass/_contact.scss */
#contact {
  width: 100%;
  height: 0px;
  background-color: #404040;
  color: #ececec;
  display: none;
  justify-content: center;
  align-items: center;
  position: relative;
}
/* line 10, ../sass/_contact.scss */
#contact .box {
  margin: 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 16, ../sass/_contact.scss */
#contact img {
  margin-right: 10px;
  max-height: 16px;
}
/* line 20, ../sass/_contact.scss */
#contact * {
  opacity: 0;
}
/* line 23, ../sass/_contact.scss */
#contact a {
  color: #ececec;
}
/* line 26, ../sass/_contact.scss */
#contact .close {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 35px;
  right: 40px;
  transform: translateY(-15px);
  cursor: pointer;
}
/* line 34, ../sass/_contact.scss */
#contact .close::before, #contact .close::after {
  position: absolute;
  left: 14px;
  content: ' ';
  height: 30px;
  width: 1px;
  background-color: #ececec;
}
/* line 42, ../sass/_contact.scss */
#contact .close::before {
  transform: rotate(45deg);
}
/* line 45, ../sass/_contact.scss */
#contact .close::after {
  transform: rotate(-45deg);
}

/* line 1, ../sass/_projets.scss */
#projets {
  width: 90%;
  height: auto;
  margin: 100px auto 0 auto;
  display: flex;
  justify-content: flex-start;
}
/* line 7, ../sass/_projets.scss */
#projets .projets-menu, #projets .projets-description {
  width: 25%;
}
/* line 10, ../sass/_projets.scss */
#projets .projets-images {
  width: 50%;
  display: flex;
  justify-content: center;
}

/* line 1, ../sass/_footer.scss */
#footer {
  width: 100%;
  height: 100px;
  padding-bottom: 20px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
/* line 8, ../sass/_footer.scss */
#footer .footer-content {
  font-size: 0.8em;
}
