#intro{
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#home-galery{
    width: 90vw;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    img{
        width: calc(30vw - 8px);
        max-height: calc(15.4vw - 8px);
        margin: 4px 0 4px 0;
    }
    @media only screen and (max-width: 1024px){
        img{
            width: calc(45vw - 4px);
            max-height: calc(23vw - 8px);
            margin: 4px 0 4px 0;
        }
    }
    @media only screen and (max-width: 480px){
        img{
            width: calc(90vw - 8px);
            max-height: calc(46.15vw - 8px);
            margin: 4px 0 4px 0;
        }
    }
}